# Gem Data and process files
orig folder/
*.jfif
fishestones (1).txt

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Environment & Secrets
.env
.env.local
.env.*.local
*.secret
secrets.json

# OS Files
.DS_Store
Thumbs.db

# Misc
.idea/
.vscode/
*.swp
